/* General Styling */
#root {
  max-width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  border-right: 1px solid var(--tertiary-color);
  overflow-y: auto;
}

.navbar-title {
  font-family: "PlexBold";
}

.navbar-page-links {
  list-style-type: none;
  padding: 0;
  font-family: "InputBold";
}

.divider {
  width: 100%;
  border-top: 1px solid var(--tertiary-color);
}

.navbar-project-links {
  list-style-type: none;
  padding: 0;
  font-family: "Plex";
}

.home-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.home-header>div {
  font-family: "Plex";
}

.home-readme>p {
  font-family: "Plex";
}

li:hover {
  cursor: pointer;
}

/* PC Styling */
@media screen and (min-width: 768px) {

  .navbar {
    height: 100vh;
    width: 280px;
    position: fixed;
    top: 0;
    padding: 0 1.8rem;
  }

  .navbar-title {
    font-size: 20px;
    margin-bottom: 28px;
    margin-top: 36px;
  }

  .navbar-page-links>li {
    margin-bottom: 12px;
    margin-left: 8px;
  }

  .divider {
    margin: 36px 0;
  }

  .navbar-subtitle {
    margin: 0;
    font-size: 14px;
  }

  .navbar-project-links {
    margin-top: 12px;
    margin-left: 8px;
    margin-bottom: 28px;
  }

  .navbar-project-links>li {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .main {
    margin-left: 280px;
  }

  .home {
    padding: 36px 3.5rem;
  }

  .home-header>div {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .home-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .home-divider>p {
    font-size: 12px;
  }

  .home-readme>p {
    font-size: 28px;
    margin-bottom: 24px;
  }
}

/* Mobile Styling */
@media (max-width: 767px) {
  .navbar {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  .navbar-title {
    font-size: 32px;
    margin-bottom: 28px;
    margin-top: 36px;
  }

  .navbar-page-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-page-links>li {
    margin-bottom: 12px;
    font-size: 24px;
  }

  .divider {
    margin-top: 24px;
    margin-bottom: 36px;
  }

  .navbar-subtitle {
    margin: 0;
    font-size: 20px;
  }

  .navbar-project-links {
    margin-top: 12px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-project-links>li {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .navbar-projects {
    display: flex;
    flex-direction: column;
    gap: 0 64px;
    flex-wrap: wrap;
    align-items: center;
  }

  .navbar-projects>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}