/* General Styling */
#root {
  max-width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  margin: 0;
  padding: 0;
  transition: all 0.25s ease;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Navbar */
.navbar {
  border-right: 1px solid var(--tertiary-color);
  overflow-y: auto;
}

.navbar-title {
  font-family: "PlexBold";
  color: var(--foreground-color);
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--foreground-color);
}

.navbar-page-links {
  list-style-type: none;
  padding: 0;
  font-family: "InputBold";
}

.divider {
  width: 100%;
  border-top: 1px solid var(--tertiary-color);
}

.navbar-project-links {
  list-style-type: none;
  padding: 0;
  font-family: "Plex";
}

.navbar-project-links>li>a {
  color: var(--foreground-color);
}

/* Home */

.home-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header>div {
  font-family: "Plex";
}

.home-readme>p {
  font-family: "Plex";
}

li:hover {
  cursor: pointer;
}

.project-card {
  border: 1px solid var(--tertiary-color);
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  user-select: none;
}

.project-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.project-card>h2 {
  font-family: "PlexBold";
}

.project-card>p {
  font-family: "Plex";
}

.project-card>img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-cards {
  column-count: 3;
  column-gap: 16px;
}

.project-card {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
}

.project-card>h2 {
  font-size: 16px;
}

.project-card>p {
  font-size: 12px;
}

.technologies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.technologies>div {
  height: 100px;
  width: 100%;
  border: 1px solid var(--tertiary-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  user-select: none;
}

.technologies>div:hover {
  transform: scale(1.1);
}

.technologies-img,
.contacts-img {
  object-fit: cover;
  height: 40px;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.contacts>a>div {
  height: 100px;
  width: 100%;
  border: 1px solid var(--tertiary-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.contacts>a>div:hover {
  transform: scale(1.05);
}

.lightmode-button {
  font-size: 20px;
  color: var(--foreground-color);
  line-height: 0%;
  user-select: none;
}

.lightmode-button:hover {
  transform: scale(1.5);
  text-shadow: 0 0 10px var(--foreground-color);
}

.divider {
  margin: 36px 0;
}

/* Project Pages */

.project-page>h1 {
  font-family: "PlexBold";
}

.project-page>p {
  font-family: "Plex";
}

/* PC Styling */
@media screen and (min-width: 768px) {

  .navbar {
    height: 100vh;
    width: 280px;
    position: fixed;
    top: 0;
    padding: 0 1.8rem;
    overflow-y: auto;
  }

  .navbar-title {
    font-size: 20px;
    margin-bottom: 28px;
    margin-top: 36px
  }

  .navbar-title:hover {
    transform: translateX(10px);
    text-shadow: 0 0 10px var(--tertiary-color);
  }

  .navbar-page-links>li {
    margin-bottom: 12px;
    margin-left: 8px;
  }

  .navbar-page-links>li:hover {
    transform: translateX(10px);
    text-shadow: 0 0 10px var(--tertiary-color);
  }

  .navbar-subtitle {
    margin: 0;
    font-size: 14px;
  }

  .navbar-project-links {
    margin-top: 12px;
    margin-left: 8px;
    margin-bottom: 28px;
  }

  .navbar-project-links>li {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .navbar-project-links>li:hover {
    transform: translateX(10px);
    text-shadow: 0 0 10px var(--tertiary-color);
    color: var(--tertiary-color);
  }

  .main {
    margin-left: 280px;
  }

  .home {
    padding-bottom: 36px;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .header {
    padding-top: 36px;
    padding-bottom: 16px;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

   .header>div {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .home-divider>p {
    font-size: 12px;
  }

  .home-readme>p {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .project-page {
    padding-top: 12px;
    padding-bottom: 36px;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

/* Tablet styling */
@media (max-width: 1200px) {
  .project-cards {
    column-count: 2;
  }

  .technologies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

}

/* Mobile Styling */
@media (max-width: 767px) {

  .main.collapsed {
    visibility: hidden;
  }

  .collapse-button {
    user-select: none;
  }

  .collapse-button>div:first-child {
    border-top: 2px solid var(--foreground-color);
    border-bottom: 2px solid var(--foreground-color);
    width: 20px;
    height: 10px;
  }

  .collapse-button>div:last-child {
    border-bottom: 2px solid var(--foreground-color);
    width: 20px;
    height: 10px;
  }

  .collapse-button:hover, .header-title:hover {
    transform: scale(1.2);
    text-shadow: 0 0 10px var(--tertiary-color);
  }

  .navbar.collapsed {
    transform: translateX(-100vw);
  }

  .navbar {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    background: var(--background-color);
    overflow-y: auto;
  }

  .navbar-title {
    font-size: 36px;
    margin-bottom: 28px;
    margin-top: 36px;
  }


  .navbar-page-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-page-links>li {
    margin-bottom: 12px;
    font-size: 20px;
  }

  .navbar-page-links>li:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px var(--tertiary-color);
  }

  .navbar-subtitle {
    margin: 0;
    font-size: 16px;
  }

  .navbar-project-links {
    margin-top: 12px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-project-links>li {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .navbar-project-links>li:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px var(--tertiary-color);
    color: var(--tertiary-color);
  }

  .navbar-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-projects>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home {
    padding-bottom: 36px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .header>div {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header-title {
    font-family: "PlexBold";
  }

  .home-divider>p {
    font-size: 12px;
  }

  .home-readme>p {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .project-cards {
    column-gap: 16px;
  }

  .project-card {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
  }

  .project-card>h2 {
    font-size: 16px;
  }

  .project-card>p {
    font-size: 12px;
  }

  .project-cards {
    column-count: 1;
  }

  .technologies {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contacts {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .project-page {
    padding-top: 12px;
    padding-bottom: 36px;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}