@font-face {
  font-family: "Input";
  src: url('./assets/fonts/InputMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "InputBold";
  src: url('./assets/fonts/InputMono-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unica";
  src: url('./assets/fonts/NeueHaasUnicaPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UnicaBold";
  src: url('./assets/fonts/NeueHaasUnicaPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plex";
  src: url('./assets/fonts/IBMPlexSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlexBold";
  src: url('./assets/fonts/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Input", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--foreground-color);
  background-color: var(--background-color);
  --background-color: #F9F9F9;
  --foreground-color: #313131;
  --subtitle-color: rgb(109, 109, 109);
  --tertiary-color: #cccccc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --background-color: #313131;
  --foreground-color: #F9F9F9;
  --subtitle-color: rgb(168, 168, 168);
  --tertiary-color: #404040;
}

::selection {
  background-color: var(--foreground-color);
  color: var(--background-color); 
}

::-moz-selection {
  background-color: none;
  color: var(--selection-color); 
}

body {
  margin: 0;
}